PORT=5000
MONGODB_URI=mongodb://localhost:27017/el-le3ba
JWT_SECRET=your_jwt_secret_change_this_in_production
JWT_EXPIRES_IN=duration
NODE_ENV=development
CLIENT_URL=http://localhost:3000
RESEND_API_KEY=re_xxxxxxxxx
